/* Header Styles */
header {
  background-color: transparent;
  padding: 20px 0;
  color: #dadada;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto; /* Center the header content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px; /* Add padding to ensure links are 30px from the edges */
}

.logo {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-right: auto; /* Push the logo to the left */
}

.nav {
  display: flex;
  gap: 20px; /* Space between links */
}

.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e74c3c;
}

.logo:hover{
  color: #e74c3c;
}
/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: #e74c3c;
  border-radius: 5px;
}

@media (max-width: 768px) {
  header {
    padding: 15px 0;
  }

  .header-container {
    flex-direction: row; /* Keep logo and hamburger on the same row */
    align-items: center;
    justify-content: space-between; /* Space between logo and hamburger */
  }

  .logo {
    font-size: 28px;
  }

  .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .link {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px 0;
  }

  .logo {
    font-size: 24px;
  }

  .link {
    font-size: 18px;
  }
}
